body > header{
    font-size: large;
    font-weight: bold;
}

article > header{
    font-size: medium;
    font-weight: bold;
}

article >p{
    font-size: small;
    font-style: italic;
}

nav{
    background: rgb(64,58, 32);
}

nav ul li{
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
}